body {
  background-color: #222222;
  font-family: 'Oxygen', sans-serif;
}

#header {
  padding: 20px;
  margin-bottom: 150px;
  margin-left: 80px;
}

h1 {
  color: #e8e0ba;
}

#content {
  height: 600px;
  width: 90%;
  overflow-x: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#hands {
  height: 400px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}


#keyboard {
  height: 400px;
  width: 7040px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
}

.key {
  border-radius: 0px 0px 5px 5px;
  display: inline-block;
  position: absolute;
  top: 0px; 
}

.white-key {
  left: 0px; /* default */
  z-index: 9;

  background-color: #ede8e1;
  border: 1px #D2CDC7 solid;
  width: 80px;
  height: 400px;
}

.black-key {
  left: 0px; /* default */
  z-index: 10;

  background-color: #1F1720;
  border: 1px #000000 solid;
  width: 60px;
  height: 220px;

}

.highlighted-white-key {
  background-color: #e8e0ba;
}

.highlighted-black-key {
  background-color: #694864;
}

.finger {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #3281ab;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.finger-0 {
  background-color: #3281ab;
}

.finger-1 {
  background-color: #2f739d;
}

.finger-2 {
  background-color: #2a5d88;
}

.finger-3 {
  background-color: #23416c;
}

.finger-4 {
  background-color: #1e2b57;
}